@import './../../../styles/variables.scss';

.wrapper {
    padding: 0 20px 40px;

    &__title {
        color: $primary-yellow-color;
    }

    &__form {
        display: flex;
        flex-wrap: wrap;

        div {
            width: 50%;
        }
    }
}

@media only screen and (min-width: map-get($breakpoints, 'desktop')) {
    .wrapper {
        padding: 0 40px 40px;
    }
}
