@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nothing+You+Could+Do&display=swap');

//fonts
$primary-font-style: 'Poppins', sans-serif;
$secondary-font-style: 'Josefin Sans', sans-serif;

//colors
$grayscale-black: #000000;
$grayscale-white: #ffffff;
$grayscale-secondary-white: #c0c0c0;
$grayscale-primary-light-grey: #d2d2d2;
$primary-yellow-color: #fab445;
$primary-grey-color: #121618;
$primary-red-color: #ea4548;

//font-weights
$font-weights: (
    'thin': 100,
    'semi-light': 200,
    'light': 300,
    'regular': 400,
    'medium': 500,
    'semi-bold': 600,
    'bold': 700,
    'semi-heavy': 800,
    'heavy': 900
) !default;

$font-sizes: (
    'size-10': 10px,
    'size-12': 12px,
    'size-14': 14px,
    'size-16': 16px,
    'size-18': 18px,
    'size-20': 20px,
    'size-24': 24px,
    'size-32': 32px,
    'size-56': 56px
) !default;

//breakpoints
$breakpoints: (
    'tablet': 672px,
    'desktop': 1024px
) !default;
