@import './../../../styles/variables.scss';

.wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 50px;

    &__message {
        color: $grayscale-secondary-white;
        font-size: map-get($font-sizes, 'size-20');
    }
}
